body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

.btn {
  border-radius: 1rem 1rem 1rem 1rem;
}

.btn-highlight {
  background-color: #fbe0dc;
}

.hero-banner {
  border-radius: 1rem 1rem 1rem 1rem;
}

.our-special .nav-link {
  color: rgba(0, 0, 0, 0.651);
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.our-special .nav-link.active {
  color: #f7c531;
  border-bottom: 1px solid #f7c531;
}

.img-box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

footer ul {
  list-style: none;
}

footer ul li .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.serve-block .btn {
  width: 38px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  border-color: #830a43;
}

.serve-block .btn.active {
  background-color: #830a43;
  color: #fff;
}

.btn-add-to-cart {
  background-color: #830a43;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.product-reviews .nav {
  width: max-content;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.product-reviews .nav-link {
  color: rgba(0, 0, 0, 0.5);
  padding: 0 0 10px 0;
  margin: 0 1rem;
}

.product-reviews .nav-link.active {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 3px solid #830a43;
}

.product-reviews .img-box {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}
